#lessons-box {
	display: flex;
	flex-direction: column;
	width: 100vw;
	margin: 15vh 0 15vh 8vw;
	align-items: flex-start;
}

h1 {
	margin: 1vw 0 1vw 10vw;
	border-bottom: 1.2px solid #9c9a9a;
	padding: 0 67vw 1vw 0px;
}

.outline {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

h2 {
	font-size: 25px;
	margin: 2vw 0 1vw 16vw;	
}

/*.dropdown-button {
	font-size: 14px;
	margin: 2.3vw 0 2vw 0.5vw;	
	transform-origin: center center;
	transition: transform 0.5s ease;
	border: 1px solid black;
}

.dropdown-button:hover {
	cursor: pointer;
}

.drop-down {
	transition: display 1s;
}*/

#box {
	margin: 0 0 0 18vw;
}

.lesson {
	margin: 7vh 0;
}

#bottom {
	margin: 7vh 0 2vh 0;
}

.outline-desc {
	font-size: 18px;
	width: 60vw;	
	text-align: left;
}

.drop-down {
	text-align: left;
	width: auto;
}

#link {
	text-decoration: underline;
	color: blue;
	margin: -0.5vw 0 0 0;
}

#link:hover {
	cursor: pointer;
}


